<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.met.workout">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_workout">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".PlanGeneratorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartWorkoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ownPlan.SearchExerciseActivity" />
        <activity
            android:name=".ownPlan.PlanCreatorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>