<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.met.auth">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
        dist:instant="false"
        dist:title="@string/title_auth">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".registration.Registration"
            android:theme="@style/AppTheme.TransparentBars" />
        <activity
            android:name=".login.Login"
            android:theme="@style/AppTheme.TransparentBars" />
    </application>

</manifest>